{% extends 'base.html' %}

{% block content %}

<footer class="tj-footer-area" data-bg-color=#140c1c >
    <div class="container">
      <div class="row">
        <div class="col text-center">
                <div class="footer-logo-box">
          <a href="https://gerold.themejunction.net/">
            <img src="{{home.logo.url}}" alt="">
          </a>
        </div>
      
          
  
                    <div class="footer-menu">
                        <ul id="menu-main-menu" class=""><li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-552" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active menu-item-552 nav-item"><a title="Services" href="/#services" class="nav-links">Services</a></li>
                            <li itemscope="itemscope"  id="menu-item-553" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active menu-item-553 nav-item"><a title="Works" href="/#works" class="nav-links">Works</a></li>
                            <li itemscope="itemscope"  id="menu-item-554" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active menu-item-554 nav-item"><a title="Resume" href="/#resume" class="nav-links">Resume</a></li>
                            <li itemscope="itemscope"  id="menu-item-555" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active menu-item-555 nav-item"><a title="Skills" href="/#skills" class="nav-links">Skills</a></li>
                            <!--li itemscope="itemscope" id="menu-item-556" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active menu-item-556 nav-item"><a title="Testimonials" href="/#testimonials" class="nav-links">Testimonials</a></li-->
                            <li itemscope="itemscope"  id="menu-item-557" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active menu-item-557 nav-item"><a title="Contact" href="/#contact" class="nav-links">Contact</a></li>
                            </ul>       </div>
          
          <div class="copy-text">
            <p>© 2024 | Opeyemi Adebayo</p>
          </div>
        </div>
      </div>
    </div>
  </footer>	
  {% endblock %}	